<%- include('header.ejs') %>  
    
<div class="container-fluid contents d-flex">
    <div class="left">
    </div>
    <div class="right">
        <!-- ${content} -->
        <div class="list-box d-flex">
            <% for(let i=0; i<boardList.length; i++){ %>
                <% let cnt=0; %>
                
                <div class="list-group">
                <a href="/board/<%= boardList[i].boardEN %>/1" class="more"><%=boardList[i].board%>/ 더 보기</a>
                
                <% for(let j=0; j<postList.length; j++){ %>
                    <% const offset = new Date().getTimezoneOffset() * 60000; %>
                    <% let today = new Date(postList[j].date - offset); %>
                    <% let now = new Date(today).toISOString().slice(0, 19).replace('T', ' '); %>

                    <% if(postList[j].board == boardList[i].boardEN){ %>
                        <% if(cnt == 7) break; %>
                        <div class="post d-flex">
                            <a href="/board/<%= postList[j].board %>/description/<%= postList[j].id %>" class="title"><%= postList[j].title %></a>
                            <span class="writer"><%= postList[j].writer %></span>
                            <span class="date"><%= now %></span>
                        </div> 
                        <% cnt++; %>
                    <% }%>
                <% }%>    
                </div>
            <% }%>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>