<%- include('header.ejs') %>  
    
<div class="container-fluid contents d-flex">
    <div class="left">
    </div>
    <div class="right">
        <!-- ${content} -->
        <%const offset = new Date().getTimezoneOffset() * 60000;%>
        <%const today = new Date(post[0].date - offset);%>
        <%let now = new Date(today).toISOString().slice(0, 19).replace('T', ' ');%>
        
        <div class="list-box d-flex">
            <div class="postContentBox d-flex">
                <div class="title"><%=post[0].title%></div>
                <div class="writer"><%=post[0].writer%></div>
                <div class="date"><%=now%></div>
                <div class="description"><%=post[0].description%></div>
            </div>
            <div class="buttons d-flex">
                <a href="/update/<%=post[0].id%>" type="button" class="btn btn-lg btn-outline-success">수정</a>
                <form action="/processDelete" method="post">
                    <input type="hidden" name="id", value="<%=post[0].id%>">
                    <input type="hidden" name="boardName", value="<%=post[0].board%>">
                    <button type="submit" class="btn btn-lg btn-outline-success">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>