<%- include('header.ejs') %>  
    
<div class="container-fluid contents d-flex">
    <div class="left">
    </div>
    <div class="right">
        <!-- ${content} -->
        <div class="list-box d-flex">
        <div class="boardName"><%=boardName%></div>
        <div class="postBox">
        <% for(let i=0; i<postList.length; i++){ %>
            <% const offset = new Date().getTimezoneOffset() * 60000; %>
            <% const today = new Date(postList[i].date - offset); %>
            <% let now = new Date(today).toISOString().slice(0, 19).replace('T', ' '); %>
            <div class="post d-flex">
                    <a href="/board/<%=boardName%>/description/<%=postList[i].id%>" class="title"><%=postList[i].title%></a>
                    <span class="writer"><%=postList[i].writer%></span>
                    <span class="date"><%=now%></span>
            </div>
        <% } %>
        </div>
        <div class="pageCount d-flex">
            <% for(let i=0; i <= (postCount-1) / 20; i++){ %>
                <a href="/board/${boardName}/${i+1}"><%i+1%></a>
            <% } %>
        </div>
        </div>
        <%if(session.isLogined){%>
        <a href="/create/<%=boardName%>" class="create btn btn-primary">글쓰기</a>
        <%}%>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>