<%- include('header.ejs') %>  
 
<div class="container-fluid contents d-flex">
    <div class="left">
    </div>
    <div class="right">
        <form action="http://localhost:3001/processUpdate/<%=content.board%>/<%=content.id%>" class="form-group name="postInfo" method="post">
            <input class="form-control" type="text" placeholder="title" name="title" value="<%=content.title%>">
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="13" placeholder="description"><%=content.description%></textarea>
            <button type="submit" class="btn btn-primary mb-2">수정하기</button>
        </form>
    </div>
</div>

<%- include('footer.ejs') %>